@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    min-height: 70vh;
}

#logo-google {
    width: 250px;
    padding-bottom: 25px;
}

#query-input {
    width: 550px;
    height: 40px;
    border-radius: 50px;
    border: 1px #ddd solid;
    padding: 10px;
    padding-left: 45px;
    font-size: 16px;
}

#query-input:hover {
    box-shadow: 1px 1px 3px #ccc;
}

#query-input:focus {
    outline: none;
}

.submit-button {
    width: 130px;
    border: none;
    background-color: rgb(243, 243, 243);
    padding: 10px;
    margin: 25px 3px 25px 3px;
    border-radius: 3px;
    font-size: 14px;
}

.submit-button:hover {
    box-shadow: 0px 0px 3px #aaa;
}

form {
    display: flex;
    flex-direction: column;
}

.material-icons.md-dark { 
    color: rgba(0, 0, 0, 0.4); 
}

.search-container {
    position: relative;
}

/* ICONS */

.material-icons.md-19 { 
    font-size: 19px;
}


.icon-lens {
    position: absolute;
    right: 516px;
    top: 10px
}

.icon-mic {
    position: absolute;
    right: 20px;
    top: 7px
}

.icon-camera {
    position: absolute;
    right: 55px;
    top: 7px
}

/* NAVBAR */

.navbar {
    display: flex;
    justify-content: flex-end;
    list-style: none;
    margin-right: 30px;
}

.navbar li {
    margin: 20px 10px 20px 10px;
    text-decoration: none;
}

.navbar li a{
    text-decoration: none;
    color: black;
    font-size: 13px;
}

.navbar li a:hover{
    border-bottom: 1px solid black;
}

.logo-container {
    position: relative;
}

#image-text {
    position: absolute;
    top: 70px;
    right: 3px;
    font-size: 15px;
    color: rgb(92, 140, 228);
}

/* ADVANCED SEARCH PAGE */
.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#logo-nav {
    width: 70px;
    margin-left: 20px;
    margin-top: 10px;
}

#adv-search-h {
    margin: 30px 0px 30px 50px;
    color: #cf4a4a;
    font-size: 20px;
}

hr {
    background-color: beige;
    opacity: 30%;
}

.intro {
    margin-bottom: 30px;
}

.container-advanced-form {
    padding: 50px 40px 40px 40px;
    width: 70vw;
}

.input-advanced {
    display: flex;
    align-items: center;
    padding: 15px;
    justify-content: space-between;
}

.query-adv {
    width: 350px;
    height: 30px;
    padding: 5px;
    border: 1px solid rgba(0, 0, 0, 0.3);
}

.label-text {
    font-size: 14px;
}

.btn-adv {
    margin-top: 30px;
    padding: 7px 15px;
    color: #fff;
    border: none;
    border-radius: 2px;
    background-color: rgb(59, 116, 238);
}